
<% if @job.jobtype=="Internship" %>
<p> First Name: <%= @applicant.first_name %></p>
<p> Last Name: <%= @applicant.last_name %></p>
<p> Email: <%= @applicant.email %></p>
<p> Contact: <%= @applicant.contact %></p>
<p> GPA: <%= @applicant.gpa %></p>
<p> Credit Hours: <%= @applicant.credit_hours %></p>
<br/>
<b><hr/></b

<h1>Questions</h1>
<p> Why would you like to intern for the United Way of the Brazos Valley? <%= @internship_application.a1 %></p>
<p> How would your background enable you to succeed in that role at UWBV? <%= @internship_application.a2 %></p>
<p> Have you ever interned in the United Way of Brazos Valley or other United Way sites before? <%= @internship_application.a3 %></p>
<%= link_to "Download work sample", @internship_application.worksample.url, formtarget: "_blank" %>
<br/>
<b><hr/></b>
<% end %>

<% if @job.jobtype=="Paid Employment" %>
<% end %>

<% if @job.jobtype=="Volunteer" %>
<br/><br/><br/>
<h1>Applicant Information</h1>
<p> First Name: <%= @applicant.first_name %></p>
<p> Last Name: <%= @applicant.last_name %></p>
<p> Email: <%= @applicant.email %></p>
<p> Contact: <%= @applicant.contact %></p>
<p> Address: <%= @applicant.address %></p>
<p> City: <%= @applicant.city %></p>
<p> State: <%= @applicant.state %></p>
<p> Zip: <%= @applicant.zip %></p>
<br/><br/>
<b><hr/></b>
  <p>Job Title: <%= @volunteer_application.jobtitle %></p>
  <p>Employer Name: <%= @volunteer_application.employername %></p>
  <p>Employer Address: <%= @volunteer_application.employeraddress %></p>
  <p>Business Phone: <%= @volunteer_application.employerphone %></p>
  <p>Fax: <%= @volunteer_application.employerfax %></p>
  <p>How many hours are you available to volunteer per week?: <%= @volunteer_application.hoursavailable %></p>
<h1>Questions</h1>
<p> In what capacities have you volunteered for UWBV or other organizations?(i.e. civic clubs, churches, not-for-profit boards, committees, elected public office)<%= @volunteer_application.a1 %></p>
<p> Within the last three years, have you received any complaint, suit, inquiry or notice of hearing from any state or federal legislative committee, regulatory body or any other party? If yes, pelase provide a detailed explanation. <%= @volunteer_application.a2 %></p>
<p> Are you aware of any circumstance(s) or action(s) which could result in a future claim against you? If yes, please provide a detailed explanation.<%= @volunteer_application.a3 %></p>
<br/>
<b><hr/></b>
<% end %>

<%= link_to "Go Back", jobs_path %>
