<div class="pagediv">
  <%= stylesheet_link_tag 'master' %>
  <div class="panel panel-default" id="profiledetails">
    <div class="panel-heading">
      <h3 class="panel-title">Review your submission</h3>
    </div>
  <p> First Name: <%= @applicant.first_name %></p>
  <p> Last Name: <%= @applicant.last_name %></p>
  <p> Email: <%= @applicant.email %></p>
  <p> Contact: <%= @applicant.contact %></p>
  <p> GPA: <%= @applicant.gpa %></p>
  <p> Credit Hours: <%= @applicant.credit_hours %></p>
<br/>
<b><hr/></b

<h1>Questions</h1>
 <p> Why would you like to intern for the United Way of the Brazos Valley?</p>
 <%= @answer1 %>
 <hr>
<p> How would your background enable you to succeed in that role at UWBV?</p>
<%= @answer2 %>
<hr>
<p> Have you ever interned in the United Way of Brazos Valley or other United Way sites before?</p>
<%= @answer3 %>
<hr>
<%= link_to "Download work sample", @internship_application.worksample.url, formtarget: "_blank" %>
<br/>
<b><hr/></b>
<%= link_to "Submit", pages_internship_application_success_path(:application_id => @application.id), class: "btn btn-primary" %>
</div>
</div>
