<div class="pagediv">
  <%= stylesheet_link_tag 'master' %>
  <div class="panel panel-default" id="profiledetails">
    <div class="panel-heading">
      <h3 class="panel-title">Please answer the following questions</h3>
    </div>
  <%= form_for VolunteerApplication.new, :url => pages_volunteerapplication_review_path(:application_id => @application.id), html: { multipart: true } do |volunteer_application| %>

  <div class="form-group col-xs-6 col-xs-offset-3" style="padding-top:50px;">
    <strong>If you are employed currently, please provide the following details:</strong>
    <p>Your job title:</p>
    <%= volunteer_application.label :jobtitle %><br>
    <%= volunteer_application.text_field :jobtitle %>
  </div>
  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>Your employer's name:</p>
    <%= volunteer_application.label :employername %><br>
    <%= volunteer_application.text_field :employername %>
  </div>
  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>Your employer's address:</p>
    <%= volunteer_application.label :employeraddress %><br>
    <%= volunteer_application.text_area :employeraddress %>
  </div>
  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>Your employer's fax:</p>
    <%= volunteer_application.label :employerfax %><br>
    <%= volunteer_application.text_field :employerfax %>
<hr>
  </div>

  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>How many hours per week are you available to volunteer?</p>
    <%= volunteer_application.label :hoursavailable %><br>
    <%= volunteer_application.text_field :hoursavailable %>
<hr>
  </div>


  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>In what capacities have you volunteered for UWBV or other organizations?(i.e. civic clubs, churches, not-for-profit boards, committees, elected public office)</p>
    <%= volunteer_application.label :a1 %><br>
    <%= volunteer_application.text_area :a1, class: "form-control" %>
  </div>
  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>Within the last three years, have you received any complaint, suit, inquiry or notice of hearing from any state or federal legislative committee, regulatory body or any other party? If yes, pelase provide a detailed explanation.</p>
    <%= volunteer_application.label :a2 %><br>
    <%= volunteer_application.text_area :a2, class: "form-control" %>
  </div>
  <div class="form-group col-xs-6 col-xs-offset-3">
    <p>Are you aware of any circumstance(s) or action(s) which could result in a future claim against you? If yes, please provide a detailed explanation.</p>
    <%= volunteer_application.label :a3 %><br>
    <%= volunteer_application.text_area :a3, class: "form-control" %>
    <div class="actions" style="padding-top: 50px;">
      <%= volunteer_application.submit "Review", class:"btn btn-primary" %>
    </div>
  </div>


  <% end %>
</div>
</div>
